<div class="container mt-4">
  <div class="card">
    <div class="card-body" style="height: 800px">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Unidades</h2>
        <button
          type="button"
          class="btn btn-success"
          (click)="newClinic()"
        >
          Nova Unidade
        </button>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="filterTerm"
            (ngModelChange)="onFilterChange($event)"
          />
          <button
            *ngIf="filterTerm"
            class="btn btn-outline-secondary"
            type="button"
            (click)="filterTerm=''; onFilterChange('')"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>

      <div *ngIf="loading" class="alert alert-info">Carregando clínicas...</div>
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

      <div class="card">
        <div class="card-body">
          <div class="table-responsive" style="height: 540px; overflow-y: auto;">
            <table class="table table-hover fixed-header">
              <thead class="thead-dark" *ngIf="filteredClinics.length > 0">
              <tr>
                <th (click)="sortBy('company_name')" style="cursor:pointer">
                  Razão Social
                  <span *ngIf="sortColumn === 'company_name'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                </th>
                <th (click)="sortBy('cnpj')" style="cursor:pointer">
                  CNPJ
                  <span *ngIf="sortColumn === 'cnpj'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                </th>
                <th (click)="sortBy('regional')" style="cursor:pointer">
                  Regional
                  <span *ngIf="sortColumn === 'regional'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                </th>
                <th (click)="sortBy('specialties')" style="cursor:pointer">
                  Especialidades
                  <span *ngIf="sortColumn === 'specialties'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                </th>
                <th (click)="sortBy('active')" style="cursor:pointer">
                  Ativa
                  <span *ngIf="sortColumn === 'active'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                </th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let clinic of filteredClinics">
                <td>{{ clinic.company_name }}</td>
                <td>{{ formatCnpj(clinic.cnpj) }}</td>
                <td>{{ clinic.regional?.name }}</td>
                <td>
            <span *ngIf="clinic.specialties.length > 0">
              {{ clinic.specialties[0]?.name }}<span *ngIf="clinic.specialties.length > 1">, {{ clinic.specialties[1]?.name }}</span>
            </span>
                  <button type="button" class="btn btn-link p-0 ms-1" (click)="openSpecialtiesModal(clinic.specialties)">
                    <i class="bi bi-plus-circle"></i>
                  </button>
                </td>
                <td>
            <span [class.text-success]="clinic.active" [class.text-danger]="!clinic.active">
              {{ clinic.active ? 'Sim' : 'Não' }}
            </span>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary me-1" (click)="editClinic(clinic.id)">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" (click)="viewClinic(clinic.id)">
                    <i class="bi bi-eye"></i>
                  </button>
                </td>
              </tr>

              <tr *ngIf="!loading && filteredClinics.length === 0">
                <div class="text-center py-5">
                  não foram encontrados resultados.
                </div>
              </tr>
              </tbody>

            </table>
          </div>

          <div *ngIf="!loading && !clinics.length" class="alert alert-warning">
            Nenhuma clínica cadastrada.
          </div>

          <nav *ngIf="filteredClinics.length > 0 && lastPage > 1">
            <ul class="pagination justify-content-center mt-3">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="goToPage(currentPage - 1)">Anterior</button>
              </li>

              <li class="page-item"
                  *ngFor="let page of visiblePages"
                  [class.active]="currentPage === page">
                <button class="page-link" (click)="goToPage(page)">
                  {{ page }}
                </button>
              </li>

              <li class="page-item" [class.disabled]="currentPage === lastPage">
                <button class="page-link" (click)="goToPage(currentPage + 1)">Próximo</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
