services:
  app:
    build:
      context: ./php
    ports:
      - "8080:80"
    volumes:
      - ./api:/var/www/html
      - ./php/entrypoint.sh:/usr/local/bin/entrypoint.sh
      - ./php/php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - db
      - redis
    command: ["/usr/sbin/apache2ctl", "-D", "FOREGROUND"]

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: amorsaude
      MYSQL_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"

  frontend:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "4200:4200"
    depends_on:
      - app

  redis:
    image: redis:7.0
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]

volumes:
  dbdata:
