<div class="col-md-12">
  <div class="card card-container">
    <h2>Login</h2>

    <div class="text-danger mt-1" *ngIf="((password.errors || email.errors) && f.submitted) || isLoginFailed">
      {{ errorMessage }}
    </div>

    <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
      <div class="form-group mb-3">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && (email.invalid || fieldErrors.email) }"
        />

        <div class="text-danger mt-1" *ngIf="f.submitted && email.errors?.['required']">
          Por favor, digite seu usuário (e-mail de cadastro)!
        </div>
        <div class="text-danger mt-1" *ngIf="f.submitted && email.errors?.['email']">
          Digite um e-mail válido
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="password">Senha</label>
        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && (password.invalid || fieldErrors.password) }"
            placeholder="Digite sua senha"
          />

          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="togglePasswordVisibility()"
          >
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>

        <div class="text-danger mt-1" *ngIf="f.submitted && password.errors?.['required']">
          Digite uma senha.
        </div>
      </div>

      <div class="form-group mt-3">
        <button class="btn btn-primary btn-block" type="submit">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
