<div class="col-md-12">
  <div class="card card-container">
    <h2>Login</h2>
    <div class="text-danger mt-1" *ngIf="(password.errors || email.errors) && f.submitted">
      Dados incorretos. Por favor, revise seus dados e tente novamente.
    </div>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && (email.errors || fieldErrors.email) }"
        />

        <div class="text-danger mt-1" *ngIf="f.submitted && email.errors?.['required']">
          Por favor, digite seu e-mail.
        </div>

        <div class="text-danger mt-1" *ngIf="fieldErrors.email">
          {{ fieldErrors.email[0] }}
        </div>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && (password.errors || fieldErrors.password) }"
        />

        <div class="text-danger mt-1" *ngIf="f.submitted && password.errors?.['required']">
          Digite uma senha.
        </div>

        <div class="text-danger mt-1" *ngIf="fieldErrors.password">
          {{ fieldErrors.password[0] }}
        </div>
      </div>

      <div class="form-group mt-3">
        <button class="btn btn-primary btn-block">Entrar</button>
      </div>

      <div class="text-danger mt-1" *ngIf="isLoginFailed && errorMessage">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
